# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Build and distribution directories
build/
dist/

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# Temporary files
*.tmp
*.bak


# pocketbase data
pb_data/
pb_migrations/


# next hot reload
.next/static/webpack/app/todo/*.hot-update.js

#next folder
.next/

